<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark" th:fragment="menusidebar">
    <div class="sidebar-brand">
        <a th:href="@{/}" class="brand-link">
            <img src="/img/AdminLTELogo.png"
                 alt="Dacca POS"
                 class="brand-image opacity-75 shadow">
            <span class="brand-text fw-light">Dacca POS</span>
        </a>
    </div>

    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu"
                data-accordion="false">

                <li class="nav-header">MAIN</li>
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">
                        <i class="nav-icon bi bi-speedometer2"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/inventory}" class="nav-link">
                        <i class="nav-icon bi bi-box-seam"></i>
                        <p>Inventory</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/order-todos}" class="nav-link">
                        <i class="nav-icon bi bi-clipboard-check"></i>
                        <p>Order Todo</p>
                    </a>
                </li>

                <li class="nav-header">PEOPLE</li>
                <li class="nav-item">
                    <a th:href="@{/customers}" class="nav-link">
                        <i class="nav-icon bi bi-people"></i>
                        <p>Customers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/suppliers}" class="nav-link">
                        <i class="nav-icon bi bi-truck"></i>
                        <p>Suppliers</p>
                    </a>
                </li>

                <li class="nav-header">PRODUCTS</li>
                <li class="nav-item">
                    <a th:href="@{/products}" class="nav-link">
                        <i class="nav-icon bi bi-boxes"></i>
                        <p>Products</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/products/create}" class="nav-link">
                        <i class="nav-icon bi bi-plus-square"></i>
                        <p>Add Product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/products/import}" class="nav-link">
                        <i class="nav-icon bi bi-file-earmark-spreadsheet"></i>
                        <p>Import Products</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/categories}" class="nav-link">
                        <i class="nav-icon bi bi-tags"></i>
                        <p>Categories</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/brands}" class="nav-link">
                        <i class="nav-icon bi bi-award"></i>
                        <p>Brands</p>
                    </a>
                </li>

                <li class="nav-header">VEHICLES</li>
                <li class="nav-item">
                    <a th:href="@{/vehicle-applications}" class="nav-link">
                        <i class="nav-icon bi bi-wrench-adjustable-circle"></i>
                        <p>Applications</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/vehicle-applications/create}" class="nav-link">
                        <i class="nav-icon bi bi-plus-circle"></i>
                        <p>Add Application</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</html>
