<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"></div>
<style>
  .select2-container--bootstrap-5 .select2-search__field {
    color: #212529;
    caret-color: #212529;
    background-color: #fff;
  }
</style>
<head/>
  <!--end::Head-->
  <!--begin::Body-->
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper">
      <!-- TOP Menu (all meta link scripts go here ) START -->
      <div th:replace="fragments/topmenu :: topmenu"></div>
      <!-- TOP Menu (all meta link scripts go here ) END -->

      <!-- Left side column. contains the sidebar START -->
      <div th:replace="fragments/menusidebar :: menusidebar"></div>
      <!-- Left side column. contains the sidebar END -->

      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Top Area-->
        <div class="app-content-top-area">
          <!--begin::Container-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div>App Content Top Area</div>
              </div>

              <div class="col-md-6 text-end">
                <button type="submit" class="btn btn-primary" name="save" value="create">
                  Create Admin
                </button>
              </div>
            </div>
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Bottom Area-->
        <!-- Content Header (Page header) -->
        <div th:replace="fragments/maincontainheader :: maincontainheader"></div>
        <!-- /.content-header -->
        <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->

        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-12">
                <!-- Default box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Title</h3>

                    <div class="card-tools">
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-lte-toggle="card-collapse"
                        title="Collapse"
                      >
                        <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                        <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-tool"
                        data-lte-toggle="card-remove"
                        title="Remove"
                      >
                        <i class="bi bi-x-lg"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body" id="categoryModal">Start creating your amazing application!
                    <select class="form-select" id="multiple-select-field" data-placeholder="Choose anything"  multiple="multiple">
                      <option>Christmas Island</option>
                      <option>South Sudan</option>
                      <option>Jamaica</option>
                      <option>Kenya</option>
                      <option>French Guiana</option>
                      <option>Mayotta</option>
                      <option>Liechtenstein</option>
                      <option>Denmark</option>
                      <option>Eritrea</option>
                      <option>Gibraltar</option>
                      <option>Saint Helena, Ascension and Tristan da Cunha</option>
                      <option>Haiti</option>
                      <option>Namibia</option>
                      <option>South Georgia and the South Sandwich Islands</option>
                      <option>Vietnam</option>
                      <option>Yemen</option>
                      <option>Philippines</option>
                      <option>Benin</option>
                      <option>Czech Republic</option>
                      <option>Russia</option>
                    </select>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">Footer</div>
                  <!-- /.card-footer-->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->

        <!--begin::App Content Bottom Area-->
        <div class="app-content-bottom-area">
          <!--begin::Container-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div>App Content Bottom Area</div>
              </div>

              <div class="col-md-6 text-end">
                <button type="submit" class="btn btn-secondary" name="save" value="create">
                  Refresh
                </button>
              </div>
            </div>
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Bottom Area-->
      </main>
      <!--end::App Main-->
      <!--begin::Footer-->
      <footer class="app-footer">
        <!--begin::To the end-->
        <div class="float-end d-none d-sm-inline">Anything you want</div>
        <!--end::To the end-->
        <!--begin::Copyright-->
        <strong>
          Copyright &copy; 2014-2026&nbsp;
          <a href="https://adminlte.io" class="text-decoration-none">AdminLTE.io</a>.
        </strong>
        All rights reserved.
        <!--end::Copyright-->
      </footer>
      <!--end::Footer-->
    </div>
    <!--end::App Wrapper-->
    <!--begin::Script-->
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <!-- =============================================== -->
    <!-- common script START -->
    <div th:replace="fragments/commonscripts :: commonscripts"/>
    <!-- common script END -->

    <!-- Scripts -->
    <script src="/resources/js/select2.min.js"></script>
    <script>

      $(function () {
        const $brandIds = $('#multiple-select-field');

        $brandIds.select2({
          theme: 'bootstrap-5',
          width: '100%',
          placeholder: 'Select brands',
          dropdownParent: $('#categoryModal'),
          closeOnSelect: false
        });

        // Fix focus/cursor issue, especially with jQuery 3.6
        $brandIds.on('select2:open', function () {
          setTimeout(function () {
            const $searchField = $('.select2-container--open .select2-search__field');
            $searchField.trigger('focus');
          }, 0);
        });
      });
    </script>
  </body>
  <!--end::Body-->
</html>
